{% extends 'base.html' %}

{% block title %}
Room Create
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}	<!-- ログインしていたら -->
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<p>ルーム名: <input type="text" name="title"></p>
	<p>ポジション: <input type="text" name="positions"></p>
	<input type="hidden" name="author" value="{{ user.email }}">

	<input type="submit" valuse="作成完了！">
</form>

{% else %}						<!-- ログインしていなかったら -->
<div class="container">
	<h1>Please Login</h1>
	<a href="{% url 'login' %}">Go to Login Page</a>
</div>
{% endif %}
{% endblock content %}