{% extends 'base.html' %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<p>発言内容: <input type="text" name="title"></p>
	<p>
		<label for="id_priority">ポジション: </label>
		<select name="priority" required id="id_priority">
			<option value selected>---------</option>
			<option value="primary">1</option>
			
		</select>
	</p>
	<input type="hidden" name="author" value="{{ user.email }}">
	
	<input type="submit" value="Create!">
</form>

{% endblock content %}


{% block script %}
{% endblock script %}